<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/instructores"></ion-back-button>
    </ion-buttons>

    <ion-title>Actualizar Instructor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="updateInstructor();">
    <ion-input type="hidden" [(ngModel)]="instructor.id" value="instructor_recibido.id" name="id"></ion-input>

    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="instructor.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="text" [(ngModel)]="instructor.email" name="email"></ion-input>
    </ion-item> 

    <ion-button type="submit" color="medium" expand="block">Actualizar</ion-button>
  </form>
</ion-content>
 