<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Cursos</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/add-curso">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size-sm="6" size-md="4" size-lg="3">
      <ion-card *ngFor="let curso of cursos">
        <ion-card-title (click)="selectCurso(curso);">{{curso.titulo}}</ion-card-title>
        <ion-card-content>{{curso.duracion}}</ion-card-content>
        <ion-card-content>{{curso.precio}}</ion-card-content>
        <ion-card-content>{{curso.descripcion}}</ion-card-content>

        <ion-button color="primary" (click)="selectCurso(curso)">Actualizar</ion-button>
        <ion-button color="danger" (click)="deleteCurso(curso.id)">Eliminar</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
 