<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Cursos</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/add-curso">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"></ion-refresher>

  <ion-row class="ion-text-center">
    <ion-col size-sm="6" size-md="4" size-lg="3">
      <ion-card *ngFor="let curso of cursos">
        <ion-card-header>
          <ion-card-title (click)="selectCurso(curso);">{{curso.titulo}}</ion-card-title>
          <ion-card-subtitle>Duracion: {{curso.duracion}}</ion-card-subtitle>
          <ion-card-subtitle>Precio: {{curso.precio}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Descripcion: {{curso.descripcion}}
          <br>

          <ion-button color="primary" (click)="selectCurso(curso)">Actualizar</ion-button>
          <ion-button color="danger" (click)="deleteCurso(curso.id)">Eliminar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
 