<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/instructores"></ion-back-button>
    </ion-buttons>

    <ion-title>Agregar Instructor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addInstructor();">
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="instructor.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item *ngIf="errores.nombre != ''">
      <ion-text color="danger">
        <h4>{{errores.nombre}}</h4>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="text" [(ngModel)]="instructor.email" name="email"></ion-input>
    </ion-item>

    <ion-item *ngIf="errores.email != ''">
      <ion-text color="danger">
        <h4>{{errores.email}}</h4>
      </ion-text>
    </ion-item>

    <ion-button type="submit" color="medium" expand="block">Registrar</ion-button>
  </form>
</ion-content>
 