<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/alumnos"></ion-back-button>
    </ion-buttons>

    <ion-title>Actualizar Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="updateAlumno();">
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="alumno.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Direccion: </ion-label>
      <ion-input type="text" [(ngModel)]="alumno.direccion" name="direccion"></ion-input>
    </ion-item> 

    <ion-button type="submit" color="medium" expand="block">Actualizar</ion-button>
  </form>
</ion-content>
