<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Alumnos</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/add-alumno">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size-sm="6" size-md="4" size-lg="3">
      <ion-card *ngFor="let alumno of alumnos">
        <ion-card-title (click)="selectAlumno(alumno);">{{alumno.nombre}}</ion-card-title>
        <ion-card-content>{{alumno.direccion}}</ion-card-content>

        <ion-button color="primary" (click)="selectAlumno(alumno)">Actualizar</ion-button>
        <ion-button color="danger" (click)="deleteAlumno(alumno.id)">Eliminar</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
