<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/eventos"></ion-back-button>
    </ion-buttons>

    <ion-title>Actualizar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="updateEvento();">
    <ion-item>
      <ion-label>Fecha de Inicio: </ion-label>
      <ion-input type="date" [(ngModel)]="evento.fecha_inicio" name="fecha_inicio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de Fin: </ion-label>
      <ion-input type="date" [(ngModel)]="evento.fecha_fin" name="fecha_fin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Instructor: </ion-label>

      <ion-select name="id_instructor" [(ngModel)]="evento.id_instructor" placeholder="Select Instructor">
        <ion-select-option *ngFor="let instructor of instructores" [value]="instructor.id">{{instructor.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Curso: </ion-label>

      <ion-select name="id_curso" [(ngModel)]="evento.id_curso" placeholder="Select Curso">
        <ion-select-option *ngFor="let curso of cursos" [value]="curso.id">{{curso.titulo}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Ubicacion: </ion-label>

      <ion-select name="id_ubicacion" [(ngModel)]="evento.id_ubicacion" placeholder="Select Ubicacion">
        <ion-select-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">{{ubicacion.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" color="medium" expand="block">Actualizar</ion-button>
  </form>
</ion-content>
 