<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Ubicaciones</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/add-ubicacion">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size-sm="6" size-md="4" size-lg="3">
      <ion-card *ngFor="let ubicacion of ubicaciones">
        <ion-card-title (click)="selectUbicacion(ubicacion);">{{ubicacion.nombre}}</ion-card-title>
        <ion-card-content>{{ubicacion.direccion}}</ion-card-content>

        <ion-button color="primary" (click)="selectUbicacion(ubicacion)">Actualizar</ion-button>
        <ion-button color="danger" (click)="deleteUbicacion(ubicacion.id)">Eliminar</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>