<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ubicaciones"></ion-back-button>
    </ion-buttons>

    <ion-title>Agregar Ubicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addUbicacion();">
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="ubicacion.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Direccion: </ion-label>
      <ion-input type="text" [(ngModel)]="ubicacion.direccion" name="direccion"></ion-input>
    </ion-item>

    <ion-button type="submit" color="medium" expand="block">Registrar</ion-button>
  </form>
</ion-content>
