<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Planeación de Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/ubicaciones">
      Ubicaciones
    </ion-item>

    <ion-item routerLink="/instructores">
      Instructores
    </ion-item>

    <ion-item routerLink="/cursos">
      Cursos
    </ion-item>

    <ion-item routerLink="/alumnos">
      Alumnos
    </ion-item>

    <ion-item routerLink="/eventos">
      Eventos de Cursos
    </ion-item>
  </ion-list>
</ion-content>
