<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Eventos</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/add-evento">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"></ion-refresher>

  <ion-row class="ion-text-center">
    <ion-col size-sm="6" size-md="4" size-lg="3">
      <ion-card *ngFor="let evento of eventos">
        <ion-card-header>
          <ion-card-title>Evento {{evento.id}}</ion-card-title>

          <ion-card-subtitle (click)="selectEvento(evento);">Fecha de inicio: {{evento.fecha_inicio}}</ion-card-subtitle>
          <ion-card-subtitle>Fecha de termino: {{evento.fecha_fin}}</ion-card-subtitle>
          
          <ion-card-subtitle *ngFor="let instructor of instructores">
            <ion-card-subtitle *ngIf="instructor.id == evento.id_instructor">
              Instructor: {{instructor.nombre}}
            </ion-card-subtitle>
          </ion-card-subtitle>

          <ion-card-subtitle *ngFor="let curso of cursos">
            <ion-card-subtitle *ngIf="curso.id == evento.id_curso">
              Nombre del curso: {{curso.titulo}}
            </ion-card-subtitle>
          </ion-card-subtitle>

          <ion-card-subtitle *ngFor="let ubicacion of ubicaciones">
            <ion-card-subtitle *ngIf="ubicacion.id == evento.id_ubicacion">
              Ubicacion: {{ubicacion.nombre}}
            </ion-card-subtitle>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-button color="primary" (click)="selectEvento(evento)">Actualizar</ion-button>
          <ion-button color="danger" (click)="deleteEvento(evento.id)">Eliminar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
 